@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Montserrat Regular 400';
}

.range-container {
  display: flex;
  justify-content: center;
  width: 100%;
}
.accent {
  accent-color: black;
}
#track {
  background-color: black;
}
.ranking-slider {
  display: flex;
  flex-direction: column;
}

/* @font-face {
  font-family: 'Montserrat Light 300';
  src: local('Montserrat Light'), url('../fonts/Montserrat-Light.ttf') format('truetype');
} */

@font-face {
  font-family: 'Montserrat Regular 400';
  src: local('Montserrat Regular'), url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

.arrow {
  border: solid black;
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
  margin: 10px;
}

.right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

.left {
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}


/* .delete-square */

.delete-square {
  width: 15px;
  height: 15px;
  position: absolute;
  right: 4px;
  bottom: 0;
  border: 1px solid red;
}

.delete-square::before, .delete-square::after {
  content: '';
  top: 50%;
  left: 50%;
  width: 150%;
  position: absolute;
  border-top: 1px solid red;
}

.delete-square::after {
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
}

.delete-square::before {
  transform: translate3d(-50%, -50%, 0) rotate(-45deg);
}
